<html lang="en">
<head>
    <title>河南奥必达装饰设计有限公司</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="initial-scale=0.3, maximum-scale=0.5, minimum-scale=0.3, user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="referrer" content="unsafe-url">
    <meta name="referrer" content="always">
    <script type="text/javascript">
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            window.location.href = 'http://'+location.host+'/wap';//h5 跳转路径（必改）
        }
    </script>
    <meta name="description" content="河南奥必达装饰设计有限公司是一家充满活力和创造力的公司，公司的主创人员均来自深圳、上海知名设计公司，公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务。
介于公司业务发展需要，于2020年在深圳扩张团队，成立姊妹公司——所间设计（深圳)有限公司,负责商业综合体、医疗医养、文化教育项目的设计工作。
">
    <meta name="keywords" content="公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务">
    <link rel="stylesheet" href="__WEBHOME__/css/main.css">
    <link rel="stylesheet" href="__WEBHOME__/css/animate.min.css">
    <script src="__WEBHOME__/js/jquery.min.js"></script>
    <script src="__WEBHOME__/js/wow.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <![endif]-->
    <script src="__WEBHOME__/js/main.js"></script>
    <script type="text/javascript">
        $(window).resize(function ()
        {

            var designSize = 1920;

            var html = document.documentElement;

            var wW = html.clientWidth;
            if(wW<1000){wW = 1000;}
            if(wW>1920){wW = 1920;}
            var rem = wW * 100 / designSize;

            document.documentElement.style.fontSize = rem + 'px';
            document.body.style.fontSize = '12px'
        });
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e8a03d99c7fed4f4a5c36d738ebe0c94";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="__WEBHOME__/css/swiper.min.css">
    <script src="__WEBHOME__/js/swiper.min.js"></script>
    <link rel="stylesheet" href="__WEBHOME__/css/jquery.mCustomScrollbar.css">
    <script src="__WEBHOME__/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <style>
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
            background-color:#bfbfbf!important;
            width: 3px!important;
        }
        .mCSB_scrollTools .mCSB_draggerRail{
            background-color:#e5e5e5!important;
            width: 3px!important;
        }
        .content-about .about-intro .boss-record{
            text-align: justify;
            word-spacing: -0.025rem;
        }
    </style>
</head>
<body>
<script type="text/javascript">
    var designSize = 1920;

    var html = document.documentElement;

    var wW = html.clientWidth;
    if(wW<1000){wW = 1000;}
    if(wW>1920){wW = 1920;}
    var rem = wW * 100 / designSize;

    document.documentElement.style.fontSize = rem + 'px';
    document.body.style.fontSize = '12px'
</script>
<div class="contains">
    <div class="nav-box">
        <a href="index.html" class="logo"></a>
        <ul class="nav-list">
            <li class=""><a href="{:U('Work/index')}" style="width: 12px;" curwidth='12px'>W 案例中心</a></li>
            <li class="nav-active"><a href="{:U('Index/about')}" style="width: 10px;" curwidth='10px'>A 关于我们</a></li>
            <li class=""><a href="{:U('Index/news')}" style="width: 10px;" curwidth='10px'>N 新闻中心</a></li>
            <li class=""><a href="{:U('Index/telephone')}" style="width:8px;" curwidth='8px'>T 联系我们</a></li>
        </ul>
        <div class="language">
            <a href="javascript:void(0)" lagua="cn">中国</a>
            <img src="__WEBHOME__/picture/line1.png">
            <a href="javascript:void(0)" lagua="en" class="check">CN</a>
        </div>
        <input type="hidden" value="http://www.admin.ccd-hk.com" id="base_url">
    </div>
    <div class="hide_nav"></div>
    <div class="content content-about clearfix">
        <div class="about-intro">
            <div class="about-cut" id="mouse">
                <div class="swiper-container wow fadeIn" id="swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/90d69c92-2d17-4bb8-bc6a-054e8472b643.jpg" title="杨君 Juner / 创始人"></div>
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/766c3d1b-3621-4bdb-907b-b7cb697939a0.jpg" title="胡杰 Andy / 创始人"></div>
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/b7c47a14-9664-4133-b103-7eb35f91c92a.png" title="殷天行  Tommy / 联合创始人"></div>
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/efcc6d19-37b3-468d-801d-f720c0f65ffd.png" title="许雪娟  主创设计师"></div>
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/efcc6d19-37b3-468d-801d-f720c0f65ffd.png" title="巢洁  Sakyo / 主创设计师"></div>
                        <div class="swiper-slide"><img src="__WEBHOME__/picture/efcc6d19-37b3-468d-801d-f720c0f65ffd.png" title="王琳  Irene / 创意总监"></div>

                    </div>
                    <div class="swiper-button-prev wow fadeInUp" data-wow-delay="2s"></div>
                    <div class="swiper-button-next wow fadeInUp" data-wow-delay="2s"></div>
                </div>
                <div class="pagenum wow fadeIn" data-wow-delay="800ms">
                    <p class="curnum" id="pagesNum">01</p>
                    <img src="__WEBHOME__/picture/line3.png" alt="">
                    <p>06</p>
                </div>
                <div class="boss-name" style="display:block;">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">杨君  </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">Juner / 创始人</p>
                </div>
                <div class="boss-name" style="">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">胡杰   </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">Andy / 创始人</p>
                </div>
                <div class="boss-name" style="">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">殷天行    </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">Tommy / 联合创始人</p>
                </div>
                <div class="boss-name" style="">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">许雪娟    </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">主创设计师  </p>
                </div>
                <div class="boss-name" style="">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">巢洁    </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">Sakyo / 主创设计师  </p>
                </div>
                <div class="boss-name" style="">
                    <p class="name wow fadeInRight" data-wow-delay="900ms">王琳    </p>
                    <img src="__WEBHOME__/picture/line4.png" class="wow fadeInRight" data-wow-delay="1.2s">
                    <p class="introduce wow fadeInRight" data-wow-delay="1.5s">Irene / 创意总监  </p>
                </div>

            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s" style="display:block;">
                <p></p>
                <p class="MsoNormal">
                    四川万达嘉华酒店、深圳万豪酒店、深圳钱塘潮-湘见餐饮、深圳万象城江南厨子、武汉广东银行私人博物馆、郑州璞华酒店、建业南湾壹号样板间、美林上苑售楼部、佳田西湖岸营销中心、驻马店尚书苑售楼部、广电天韵营销中心、郑州雅兰阁精品酒店、许昌金雨玫瑰庄园会所、郑州正弘瓴别墅、黄淮学院国学报告厅等
                </p>
                <p></p>
            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s">
                <p></p>
                <p class="MsoNormal">
                    上海万科53号商业中心、上海东方蓝海国际广场、台湾科技园企业中心、河北石家庄电力会所、河南工会酒店、信阳百花会展中心、郑州顺和禧酒店、绿都地产办公、洛阳万众酒店、西安智美好美容医疗中心、河南汝瓷博物馆、宏瑞酒店、鄢陵文化广场、许昌金雨时代广场、河南万众大厦、鋆宸洲际广场营销中心、弘峰昆仑精选酒店、郑州中州国际酒店、郑州星栖己图书馆等
                </p>
                <p></p>
            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s" >
                <p></p>
                <p class="MsoNormal">
                    深圳宝能·ALL CITY、深圳·观澜湖商业中心、长沙·德思勤城市广场、华润余姚五彩城、·泉州星光耀广场、深圳·龙光红山玖钻商业、深圳万科龙城广场、重庆龙湖观音桥新壹街、深圳众冠时代广场（深圳益田假日里）、广州天河金茂广场、苏州盛泽碧桂园商业、广州琶洲保利广场等商业综合体项目。
                </p>
                <p></p>
            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s" >
                <p></p>
                <p class="MsoNormal">
                    曾就职于香港CCD郑中设计事务所。主要项目经历为北京三里屯通盈中心洲际酒店、杭州泛海钓鱼台酒店、厦门万丽酒店、赣州希尔顿酒店、柳州精品酒店、驻马店铂骊铂派酒店等
                </p>
                <p></p>
            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s">
                <p></p>
                <p class="MsoNormal">
                    曾就职于南京三厘社设计工作室，主要专注于商业零售类、医养医疗类项目设计。主要项目经历为成都·龙湖时代天街、无锡·百乐时代广场、武汉·南国中心、荣成·九龙城、珠海·沃尔玛、星浩资本、襄阳美联park主题街区等
                </p>
                <p></p>
            </div>
            <div class="boss-record wow fadeInUp" data-wow-delay="2s">
                <p></p>
                <p class="MsoNormal">
                    毕业于西安美术学院，有着扎实的美术功底，极具创意和个性。主要负责公司原创研发及艺术品设计工作
                </p>
                <p></p>
            </div>
        </div>
        <div class="about-section">
            <h2 class="about-title wow slideInLeft">合作伙伴</h2>
            <div class="section-left" id="parType">
                <img src="__WEBHOME__/picture/line5.png" alt="" class="wow fadeInLeft" data-wow-delay="1s">
                <p class="active wow fadeInLeft" data-wow-delay="900ms" type="0">酒店品牌</p>
                <p type="1" class="wow fadeInLeft" data-wow-delay="1s">地区品牌</p>
            </div>
            <div class="section-right">
                <ul class="section-ul" id="partnerList">
                    <li class="wow fadeInLeft" data-wow-delay="0.05s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/700d910a-373d-4c31-bc3a-9c02bb554e17.jpg"><img class="hdPartner" src="__WEBHOME__/picture/dccea92b-81d2-4966-94d3-6220f83951ba.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.1s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/68011a47-5461-4a73-989a-88898e66b041.jpg"><img class="hdPartner" src="__WEBHOME__/picture/06d0cbdc-0e2f-41e1-95a5-450d49f47d25.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.15000000000000002s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/84dfc732-60c5-4430-8228-4e7042b05da8.jpg"><img class="hdPartner" src="__WEBHOME__/picture/11157d9e-b012-462e-97ed-49329da2fee5.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.2s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/e34d24b3-11b5-4405-8e10-94b691271bb1.jpg"><img class="hdPartner" src="__WEBHOME__/picture/5383afcc-e103-4394-a3e4-5d1e120cbc26.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.25s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/254e3154-4234-4001-8fe2-cb27b444ea02.jpg"><img class="hdPartner" src="__WEBHOME__/picture/15385ca5-8f82-43e9-953d-4ca21495e3f5.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.30000000000000004s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/7208b6b4-a573-4fcb-a400-fa1011a3f953.jpg"><img class="hdPartner" src="__WEBHOME__/picture/633de71b-e19a-4bd4-82fe-44a126795453.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.35000000000000003s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/712b355b-3ddc-4886-acd9-e59d2e99f35c.jpg"><img class="hdPartner" src="__WEBHOME__/picture/667fbeb2-76b8-4ebd-89b6-6eb824d93cd6.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.4s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/23e04be6-7c47-48ac-9918-350e0797ef26.jpg"><img class="hdPartner" src="__WEBHOME__/picture/b17e8090-d66e-4b41-b905-76ee181d8d8f.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.45s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/ff31fb94-1e4c-4011-9b8c-168cf0e9297c.jpg"><img class="hdPartner" src="__WEBHOME__/picture/322855c1-4745-411e-bdb1-1f69400eea29.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.5s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/55af563d-df6e-4dba-8dc6-0298726d1435.jpg"><img class="hdPartner" src="__WEBHOME__/picture/421b0a5b-2e87-42f0-8f1a-f9a070648271.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.55s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/8ac43428-fc7c-4f9e-a769-1892655eda23.jpg"><img class="hdPartner" src="__WEBHOME__/picture/a66552a3-eb29-476a-955e-9543bbea8773.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.6000000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/dad8631e-9668-43f3-9a9f-713c23342c7e.jpg"><img class="hdPartner" src="__WEBHOME__/picture/fed2a6b8-b6e1-44b1-9294-5c8c678940e0.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.65s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/459de005-8d1a-4222-bd31-e39f2726b087.jpg"><img class="hdPartner" src="__WEBHOME__/picture/972e4be7-cd83-4eab-b8e6-12285672e69a.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.7000000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/bd06ed30-7793-4596-b435-ee0c8517574f.jpg"><img class="hdPartner" src="__WEBHOME__/picture/d7e9075e-dfae-4d15-87ee-f1b3d641e5d8.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.75s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/c275fe26-2a05-4720-b1ae-5f8eae6fa65f.jpg"><img class="hdPartner" src="__WEBHOME__/picture/84211ed3-3c12-48f2-946c-a2d839f06bab.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.8s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/9b7651c1-3871-4642-815b-c6c3f9d7b530.jpg"><img class="hdPartner" src="__WEBHOME__/picture/9328efde-9072-4c5f-bd1f-7cb0ca56a361.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.8500000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/40719a6e-31c9-436c-8bbf-401c1329a41c.jpg"><img class="hdPartner" src="__WEBHOME__/picture/a5d972f1-00c9-4aa0-98e8-2f038400b551.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.9s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/a230e757-09da-420d-8cfd-cd56ace06bf5.jpg"><img class="hdPartner" src="__WEBHOME__/picture/41fc1669-4658-43e2-ace1-738234dbfe82.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="0.9500000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/a62176f9-a091-4992-bf07-3b92bc32bc4f.jpg"><img class="hdPartner" src="__WEBHOME__/picture/acbbef96-bfdb-473a-9c50-2345ee97062b.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/0e855984-a2db-4244-8bef-1f9b11fcb082.jpg"><img class="hdPartner" src="__WEBHOME__/picture/651ec322-f615-437e-931f-8ad2da063509.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.05s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/f0919ca1-031b-4b72-bc8d-d5ac9c6b3116.jpg"><img class="hdPartner" src="__WEBHOME__/picture/248d389e-7ef5-41aa-bec6-c83adbea782d.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.1s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/4855c7e7-daf5-45f3-a32f-8f6ecb744599.jpg"><img class="hdPartner" src="__WEBHOME__/picture/13fa70a6-84e3-41aa-9cb2-f415849ad9fd.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.1500000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/29d5bf9e-a132-4fc1-a42f-bff52415598b.jpg"><img class="hdPartner" src="__WEBHOME__/picture/a6a14ae5-2307-4412-a4c3-54b098787a6d.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.2000000000000002s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/fde119e3-7aad-471a-bb0e-5dd688854fd6.jpg"><img class="hdPartner" src="__WEBHOME__/picture/3db90821-4310-40c7-b737-36a9ca272636.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.25s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/4938a42a-3f48-46ed-b120-61041ac179cf.jpg"><img class="hdPartner" src="__WEBHOME__/picture/95675546-455a-43c7-b57d-999764666ced.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.3s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/b8b8f55b-cf21-48d9-9863-787822f9e0e6.jpg"><img class="hdPartner" src="__WEBHOME__/picture/1e094b16-00d2-477a-9e94-835021b99b61.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.35s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/bceeb8c0-e5db-48de-b8fa-a81068e33a33.jpg"><img class="hdPartner" src="__WEBHOME__/picture/a5d36994-b41b-418d-ad20-6cadc0a01d53.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.4000000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/ed2d907c-793a-4b1d-8b6d-c7266801e3ce.jpg"><img class="hdPartner" src="__WEBHOME__/picture/67cfb857-9d48-48a3-b06a-45d01df2579a.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.4500000000000002s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/35773ddd-299b-43d7-a212-520dd6a2c878.jpg"><img class="hdPartner" src="__WEBHOME__/picture/d805a939-ea1f-4ea5-9a9a-2993e1f814ac.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.5s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/102b61ec-6237-47d7-9697-bbe8fe370438.jpg"><img class="hdPartner" src="__WEBHOME__/picture/259637b6-ea5d-49d1-9a12-7f7e39b53a96.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.55s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/d3b490dc-20c1-4105-8ed2-49207c679f66.jpg"><img class="hdPartner" src="__WEBHOME__/picture/8eaa73c8-abaf-480f-b981-7cd176a0a364.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.6s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/4f45ebb0-2190-4be0-a6af-b40d18fd185c.jpg"><img class="hdPartner" src="__WEBHOME__/picture/6cb64507-4c7a-4162-9c95-cd35b6666ce7.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.6500000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/737f2671-81f9-4f1e-a0a5-f7f9df95e7c3.jpg"><img class="hdPartner" src="__WEBHOME__/picture/d3d9c750-6109-4b5a-bb66-3faccb16baa3.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.7000000000000002s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/42c3b3a5-7e6e-4128-bafa-29d94bc810bd.jpg"><img class="hdPartner" src="__WEBHOME__/picture/28715970-113d-4c94-bf9e-549cb7553879.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.75s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/93d65516-ed07-479f-ae85-095b634d3611.jpg"><img class="hdPartner" src="__WEBHOME__/picture/cbc09f88-d665-4055-8349-25beee2364da.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.8s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/416f9cc6-47c4-4e81-9084-1cff4a99d40a.jpg"><img class="hdPartner" src="__WEBHOME__/picture/6ee8d602-8c2b-479e-911c-2fc030f97245.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.85s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/ae741f22-cd58-45c3-8705-6545d685ec27.jpg"><img class="hdPartner" src="__WEBHOME__/picture/2936a1e4-dd7d-4d03-a77a-8f2f82ed4653.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.9000000000000001s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/979df9be-ad1a-4104-8ebb-c7fc3d6de219.jpg"><img class="hdPartner" src="__WEBHOME__/picture/7d97f502-51f4-4587-ad2e-154becf1fd13.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="1.9500000000000002s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/0ac8f485-1d8b-4e47-aa82-2173bb62c1b4.jpg"><img class="hdPartner" src="__WEBHOME__/picture/f84800be-250e-41f4-bf92-267b018bf508.jpg"></a>
                    </li>
                    <li class="wow fadeInLeft" data-wow-delay="2s">
                        <a target="_blank" rel="nofollow me noopener noreferrer" href="javascript:;"><img class="curPartner" src="__WEBHOME__/picture/f58970a5-6c69-4589-ab98-51aa4a65744d.jpg"><img class="hdPartner" src="__WEBHOME__/picture/6d9963e5-8822-49ec-b5a7-ef82a6fc855d.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-award">
        <div class="mi clearfix">
            <h2 class="about-title wow slideInLeft">荣誉</h2>
            <div class="section-left">
                <img src="__WEBHOME__/picture/line5.png" alt="" class="wow fadeInLeft" data-wow-delay="1s">
            </div>
            <div class="section-right award_right">
                <div id="awardList">
                    <div class="award_section">
                        <img src="__WEBHOME__/picture/f5339704-5484-4c8a-af56-d77e792a822d.png" alt="" class="award_img award_img_show wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="__WEBHOME__/picture/6e856fe1-21c7-442b-a2e7-7a24befbd87a.png" alt="" class="award_img award_img_hide">
                        <div class="award_section_r">
                            <h3 class="wow fadeInDown" data-wow-delay="0.4s">荣誉一</h3>
                            <p class="wow fadeInDown" data-wow-delay="0.6s">荣誉描述</p>
                            <ul class="award-ul">
                                <li>
                                    <div class="award_div">
                                        <a href="work1.html"><p class="wow fadeInDown" data-wow-delay="0.6s"><span></span>获奖作品参考一</p></a>
                                        <a href="work2.html"><p class="wow fadeInDown" data-wow-delay="1.2s"><span></span>获奖作品参考二</p></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="award_section">
                        <img src="__WEBHOME__/picture/3b3b545c-2213-4097-8562-341d0ad66393.png" alt="" class="award_img award_img_show wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="__WEBHOME__/picture/52862467-27d6-4fe2-a085-d89629dababc.png" alt="" class="award_img award_img_hide">
                        <div class="award_section_r">
                            <h3 class="wow fadeInDown" data-wow-delay="0.8s">荣誉二</h3>
                            <p class="wow fadeInDown" data-wow-delay="1.2s">荣誉描述 </p>
                            <ul class="award-ul">
                                <li>
                                    <div class="award_div">
                                        <a href="work3.html"><p class="wow fadeInDown" data-wow-delay="0.6s"><span></span>获奖作品参考一</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="1.2s"><span></span>获奖作品参考二</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="1.7999999999999998s"><span></span>获奖作品参考三</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="2.4s"><span></span>获奖作品参考四</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="3s"><span></span>获奖作品参考五</p></a>
                                        <a href="work4.html"><p class="wow fadeInDown" data-wow-delay="3.5999999999999996s"><span></span>获奖作品参考六</p></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="award_section">
                        <img src="__WEBHOME__/picture/a84242ca-86e3-484f-9308-44e5eaf9e497.jpg" alt="" class="award_img award_img_show wow fadeInLeft" data-wow-delay="0.8999999999999999s">
                        <img src="__WEBHOME__/picture/5b164463-8b6f-4174-b13b-2f2cd100440a.jpg" alt="" class="award_img award_img_hide">
                        <div class="award_section_r">
                            <h3 class="wow fadeInDown" data-wow-delay="1.2000000000000002s">荣誉三</h3>
                            <p class="wow fadeInDown" data-wow-delay="1.7999999999999998s">荣誉描述</p>
                            <ul class="award-ul">
                                <li>
                                    <div class="award_div">
                                        <a href="work5.html"><p class="wow fadeInDown" data-wow-delay="0.6s"><span></span>获奖作品参考一</p></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="award_section">
                        <img src="__WEBHOME__/picture/aa98fee3-0925-4d98-9ec5-19ad319f45ef.png" alt="" class="award_img award_img_show wow fadeInLeft" data-wow-delay="1.2s">
                        <img src="__WEBHOME__/picture/1040a0d9-5a9d-439b-b764-1c0f3c045b59.png" alt="" class="award_img award_img_hide">
                        <div class="award_section_r">
                            <h3 class="wow fadeInDown" data-wow-delay="1.6s">荣誉四</h3>
                            <p class="wow fadeInDown" data-wow-delay="2.4s"> 荣誉描述</p>
                            <ul class="award-ul">
                                <li>
                                    <div class="award_div">
                                        <a href="work3.html"><p class="wow fadeInDown" data-wow-delay="0.6s"><span></span>获奖作品参考一</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="1.2s"><span></span>获奖作品参考二</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="1.7999999999999998s"><span></span>获奖作品参考三</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="2.4s"><span></span>获奖作品参考四</p></a>
                                        <a href="work.html"><p class="wow fadeInDown" data-wow-delay="3s"><span></span>获奖作品参考五</p></a>
                                        <a href="work4.html"><p class="wow fadeInDown" data-wow-delay="3.5999999999999996s"><span></span>获奖作品参考六</p></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="award-cut wow fadeInDown" data-wow-delay="1s">
                    <a class="award-btn award-prev prev-active"></a>
                    <a class="award-btn award-next next-active"></a>
                </div>
                <div class="pagenum award-pagenum wow fadeInDown" data-wow-delay="1s">
                    <p class="curnum" id="awardCurNum">01</p>
                    <img src="__WEBHOME__/picture/line10.png" alt="">
                    <p>05</p>
                </div>
                <input type="hidden" value="5" id="pageNums">
            </div>
        </div>
    </div>
    <div class="about-award about-carees">
        <div class="mi clearfix">
            <h2 class="about-title wow slideInLeft">人才招募</h2>
            <div class="section-left">
                <img src="__WEBHOME__/picture/line5.png" alt="" class="wow fadeInLeft" data-wow-delay="1s">
            </div>
            <div class="section-right">
                <ul class="carees-ul">
                    <li class="wow fadeInDown" data-wow-delay="0.1s">
                        <h3>方案设计师（酒店/商业/豪宅）)<span class="unfold"></span></h3>
                        <div class="carees-msg wow fadeInDown">
                            <p><p>Base：香港、深圳、北京、上海&nbsp;</p><p><br></p><p>职位描述：</p><p>1. XXXXXXXXXXXXXXXX;</p><p>2. XXXXXXXXXXXXXXXX;</p><p>3.  XXXXXXXXXXXXXXXX;</p><p>4. XXXXXXXXXXXXXXXX;</p><p>5.XXXXXXXXXXXXXXXX.</p><p>6. XXXXXXXXXXXXXXXX.</p><p>邮箱 : XXXXXXXXXX</p>
                        </div>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s">
                        <h3>方案设计师（酒店/商业/豪宅）)<span class="unfold"></span></h3>
                        <div class="carees-msg wow fadeInDown">
                            <p><p>Base：香港、深圳、北京、上海&nbsp;</p><p><br></p><p>职位描述：</p><p>1. XXXXXXXXXXXXXXXX;</p><p>2. XXXXXXXXXXXXXXXX;</p><p>3.  XXXXXXXXXXXXXXXX;</p><p>4. XXXXXXXXXXXXXXXX;</p><p>5.XXXXXXXXXXXXXXXX.</p><p>6. XXXXXXXXXXXXXXXX.</p><p>邮箱 : XXXXXXXXXX</p>
                        </div>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s">
                        <h3>方案设计师（酒店/商业/豪宅）)<span class="unfold"></span></h3>
                        <div class="carees-msg wow fadeInDown">
                            <p><p>Base：香港、深圳、北京、上海&nbsp;</p><p><br></p><p>职位描述：</p><p>1. XXXXXXXXXXXXXXXX;</p><p>2. XXXXXXXXXXXXXXXX;</p><p>3.  XXXXXXXXXXXXXXXX;</p><p>4. XXXXXXXXXXXXXXXX;</p><p>5.XXXXXXXXXXXXXXXX.</p><p>6. XXXXXXXXXXXXXXXX.</p><p>邮箱 : XXXXXXXXXX</p>
                        </div>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s">
                        <h3>方案设计师（酒店/商业/豪宅）)<span class="unfold"></span></h3>
                        <div class="carees-msg wow fadeInDown">
                            <p><p>Base：香港、深圳、北京、上海&nbsp;</p><p><br></p><p>职位描述：</p><p>1. XXXXXXXXXXXXXXXX;</p><p>2. XXXXXXXXXXXXXXXX;</p><p>3.  XXXXXXXXXXXXXXXX;</p><p>4. XXXXXXXXXXXXXXXX;</p><p>5.XXXXXXXXXXXXXXXX.</p><p>6. XXXXXXXXXXXXXXXX.</p><p>邮箱 : XXXXXXXXXX</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        Copyright © 1998-2021 CCD. All Rights Reserved | POWERED BY ASIANTIME GROUP  <a style="color:#fff;" href="javascript:;" target="_blank" rel="nofollow me noopener noreferrer">粤ICP备20054390号</a>
    </footer>        </div>
<script>
    var isFirst  = true;
    var recordHeight = 0;

    $('.award_right').on('click','.award-unfold',function () {
        if($(this).hasClass('award-unfold_on')){
            if(puBlic.params.windowWidth <= 1680){
                $(this).siblings('.award_div').css('max-height','1.9rem')
            }else if(puBlic.params.windowWidth <= 1370){
                $(this).siblings('.award_div').css('max-height','2.6rem')
            }else{
                $(this).siblings('.award_div').css('max-height','1.75rem')
            }

            $(this).removeClass('award-unfold_on')
        }else{
            $(this).siblings('.award_div').css('max-height','initial')
            $(this).addClass('award-unfold_on')
        }
    })
    var mySwiper = new Swiper ('#swiper1', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        mousewheel: true,
        on: {
            slideChangeTransitionEnd: function(){
                $('#pagesNum').html('0'+(this.realIndex+1))
                $('.boss-name').eq(this.realIndex).show().siblings('.boss-name').hide()
                $('.boss-record').eq(this.realIndex).show().siblings('.boss-record').hide()
                $('.boss-record-on').eq(this.realIndex).show().siblings('.boss-record-on').hide()
                recordHeight = $('.boss-record-on').eq(this.realIndex).outerHeight(true)
                $('.swiper-button-prev').css('cssText','bottom:'+recordHeight+'px!important')
                $('.swiper-button-next').css('cssText','bottom:'+recordHeight+'px!important')
            }
        }
    })
    $(function(){
        $("#partnerList").mCustomScrollbar({
            axis:"y" ,
            scrollInertia:600,
        });
        $('.boss-record').removeClass('boss-record').addClass('boss-record-on')
        recordHeight = $('.boss-record-on').outerHeight(true)

        $('.swiper-button-prev').css('cssText','bottom:'+recordHeight+'px!important')
        $('.swiper-button-next').css('cssText','bottom:'+recordHeight+'px!important')
        if(puBlic.params.windowWidth >= 1920){
            $('.about-section').css('cssText','padding-top:0.5rem !important')
            $('.about-cut').find('.pagenum').css('cssText','padding-top:1.2rem!important;')
        }else{
            $('.about-cut').find('.pagenum').css('cssText','padding-top:1rem!important;')
        }

    })




    $(window).bind("scroll",function(){
        var top = $(this).scrollTop();//当前窗口的滚动距离
        if(top > 50) {
            $('.boss-record-on').removeClass('boss-record-on').addClass('boss-record')
            $('.swiper-button-prev').css('cssText','top:auto !important')
            $('.swiper-button-next').css('cssText','top:auto !important')
            $('.about-cut').find('.pagenum').css('cssText','padding-top:3.47rem!important;')
            $('.about-section').css('cssText','padding-top:1rem !important')
        }

    })

</script>
<script>
    var wow = new WOW(
        {
            boxClass:     'wow',
            animateClass: 'animated',
            offset:       0,
            mobile:       true,
            live:true,
        }
    )
    wow.init();
</script>
</body>
</html>
