<html lang="en">
<head>
    <title>河南奥必达装饰设计有限公司</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="initial-scale=0.3, maximum-scale=0.5, minimum-scale=0.3, user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="referrer" content="unsafe-url">
    <meta name="referrer" content="always">
    <script type="text/javascript">
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            window.location.href = 'http://'+location.host+'/wap';//h5 跳转路径（必改）
        }
    </script>
    <meta name="description" content="河南奥必达装饰设计有限公司是一家充满活力和创造力的公司，公司的主创人员均来自深圳、上海知名设计公司，公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务。
介于公司业务发展需要，于2020年在深圳扩张团队，成立姊妹公司——所间设计（深圳)有限公司,负责商业综合体、医疗医养、文化教育项目的设计工作。
">
    <meta name="keywords" content="公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务">
    <link rel="stylesheet" href="__WEBHOME__/css/main.css">
    <link rel="stylesheet" href="__WEBHOME__/css/animate.min.css">
    <script src="__WEBHOME__/js/jquery.min.js"></script>
    <script src="__WEBHOME__/js/wow.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <![endif]-->
    <script src="__WEBHOME__/js/main.js"></script>
    <script type="text/javascript">
        $(window).resize(function ()
        {

            var designSize = 1920;

            var html = document.documentElement;

            var wW = html.clientWidth;
            if(wW<1000){wW = 1000;}
            if(wW>1920){wW = 1920;}
            var rem = wW * 100 / designSize;

            document.documentElement.style.fontSize = rem + 'px';
            document.body.style.fontSize = '12px'
        });
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e8a03d99c7fed4f4a5c36d738ebe0c94";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="__WEBHOME__/css/swiper.min.css">
    <script src="__WEBHOME__/js/swiper.min.js"></script>
    <link rel="stylesheet" href="__WEBHOME__/css/jquery.mCustomScrollbar.css">
    <script src="__WEBHOME__/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <style>
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
            background-color:#bfbfbf!important;
            width: 3px!important;
        }
        .mCSB_scrollTools .mCSB_draggerRail{
            background-color:#e5e5e5!important;
            width: 3px!important;
        }
        .content-about .about-intro .boss-record{
            text-align: justify;
            word-spacing: -0.025rem;
        }
    </style>
</head>
<body>
<script type="text/javascript">
    var designSize = 1920;

    var html = document.documentElement;

    var wW = html.clientWidth;
    if(wW<1000){wW = 1000;}
    if(wW>1920){wW = 1920;}
    var rem = wW * 100 / designSize;

    document.documentElement.style.fontSize = rem + 'px';
    document.body.style.fontSize = '12px'
</script>
<div class="contains">
    <div class="nav-box">
        <a href="index.html" class="logo"></a>
        <ul class="nav-list">
            <li class=""><a href="{:U('Work/index')}" style="width: 12px;" curwidth='12px'>W 案例中心</a></li>
            <li class=""><a href="{:U('Index/about')}" style="width: 10px;" curwidth='10px'>A 关于我们</a></li>
            <li class="nav-active"><a href="{:U('Index/news')}" style="width: 10px;" curwidth='10px'>N 新闻中心</a></li>
            <li class=""><a href="{:U('Index/telephone')}" style="width:8px;" curwidth='8px'>T 联系我们</a></li>
        </ul>
        <div class="language">
            <a href="javascript:void(0)" lagua="cn">中国</a>
            <img src="__WEBHOME__/picture/line1.png">
            <a href="javascript:void(0)" lagua="en" class="check">CN</a>
        </div>
        <input type="hidden" value="http://www.admin.ccd-hk.com" id="base_url">
    </div>


    <div class="about-award">
        <div class="mi clearfix mi-cla">
            <h2 class="about-title wow slideInLeft">新闻</h2>
            <div class="section-left">
                <img src="__WEBHOME__/picture/line5.png" alt="" class="wow fadeInLeft" data-wow-delay="1s">
            </div>
            <div class="section-right award_right">
                <div id="awardList"> 
                    <div class="award_section">
                        <img src="__WEBHOME__/picture/3b3b545c-2213-4097-8562-341d0ad66393.png" alt="" class="award_img award_img_show wow fadeInLeft" data-wow-delay="0.6s">
                        <img src="__WEBHOME__/picture/52862467-27d6-4fe2-a085-d89629dababc.png" alt="" class="award_img award_img_hide">
                        <div class="award_section_r">
                            <!-- <h3 class="wow fadeInDown" data-wow-delay="0.8s">时间：{$user['ctime']|date='Y/m/d',###}</h3>
                            <p class="wow fadeInDown" data-wow-delay="1.2s"> {:htmlspecialchars_decode($user['content'])} </p> -->
                            <p class="detail-case-title">
                                {$user['title']}
                            </p>
                            <div class="detail-case-tag">
                                时间:{$user['ctime']|date='Y/m/d',###}
                            </div>
                            <div class="detail-case-main">
                                {:htmlspecialchars_decode($user['content'])}
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>

    </div>
    <footer>
        Copyright © 1998-2021 CCD. All Rights Reserved | POWERED BY ASIANTIME GROUP  <a style="color:#fff;" href="javascript:;" target="_blank" rel="nofollow me noopener noreferrer">粤ICP备20054390号</a>
    </footer>        </div>
<script>
    var isFirst  = true;
    var recordHeight = 0;

    $('.award_right').on('click','.award-unfold',function () {
        if($(this).hasClass('award-unfold_on')){
            if(puBlic.params.windowWidth <= 1680){
                $(this).siblings('.award_div').css('max-height','1.9rem')
            }else if(puBlic.params.windowWidth <= 1370){
                $(this).siblings('.award_div').css('max-height','2.6rem')
            }else{
                $(this).siblings('.award_div').css('max-height','1.75rem')
            }

            $(this).removeClass('award-unfold_on')
        }else{
            $(this).siblings('.award_div').css('max-height','initial')
            $(this).addClass('award-unfold_on')
        }
    })
    var mySwiper = new Swiper ('#swiper1', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        mousewheel: true,
        on: {
            slideChangeTransitionEnd: function(){
                $('#pagesNum').html('0'+(this.realIndex+1))
                $('.boss-name').eq(this.realIndex).show().siblings('.boss-name').hide()
                $('.boss-record').eq(this.realIndex).show().siblings('.boss-record').hide()
                $('.boss-record-on').eq(this.realIndex).show().siblings('.boss-record-on').hide()
                recordHeight = $('.boss-record-on').eq(this.realIndex).outerHeight(true)
                $('.swiper-button-prev').css('cssText','bottom:'+recordHeight+'px!important')
                $('.swiper-button-next').css('cssText','bottom:'+recordHeight+'px!important')
            }
        }
    })
    $(function(){
        $("#partnerList").mCustomScrollbar({
            axis:"y" ,
            scrollInertia:600,
        });
        $('.boss-record').removeClass('boss-record').addClass('boss-record-on')
        recordHeight = $('.boss-record-on').outerHeight(true)

        $('.swiper-button-prev').css('cssText','bottom:'+recordHeight+'px!important')
        $('.swiper-button-next').css('cssText','bottom:'+recordHeight+'px!important')
        if(puBlic.params.windowWidth >= 1920){
            $('.about-section').css('cssText','padding-top:0.5rem !important')
            $('.about-cut').find('.pagenum').css('cssText','padding-top:1.2rem!important;')
        }else{
            $('.about-cut').find('.pagenum').css('cssText','padding-top:1rem!important;')
        }

    })




    $(window).bind("scroll",function(){
        var top = $(this).scrollTop();//当前窗口的滚动距离
        if(top > 50) {
            $('.boss-record-on').removeClass('boss-record-on').addClass('boss-record')
            $('.swiper-button-prev').css('cssText','top:auto !important')
            $('.swiper-button-next').css('cssText','top:auto !important')
            $('.about-cut').find('.pagenum').css('cssText','padding-top:3.47rem!important;')
            $('.about-section').css('cssText','padding-top:1rem !important')
        }

    })

</script>
<script>
    var wow = new WOW(
        {
            boxClass:     'wow',
            animateClass: 'animated',
            offset:       0,
            mobile:       true,
            live:true,
        }
    )
    wow.init();
</script>
</body>
</html>
