<html lang="en">
<head>
    <title>河南奥必达装饰设计有限公司</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="initial-scale=0.3, maximum-scale=0.5, minimum-scale=0.3, user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="referrer" content="unsafe-url">
    <meta name="referrer" content="always">
    <script type="text/javascript">
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            window.location.href = 'http://'+location.host+'/wap';//h5 跳转路径（必改）
        }
    </script>
    <meta name="description" content="河南奥必达装饰设计有限公司是一家充满活力和创造力的公司，公司的主创人员均来自深圳、上海知名设计公司，公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务。
介于公司业务发展需要，于2020年在深圳扩张团队，成立姊妹公司——所间设计（深圳)有限公司,负责商业综合体、医疗医养、文化教育项目的设计工作。
">
    <meta name="keywords" content="公司专注于酒店、地产、餐饮、展馆、办公等项目的设计，并提供一站式整体软装陈设服务">
    <link rel="stylesheet" href="__WEBHOME__/css/main.css">
    <link rel="stylesheet" href="__WEBHOME__/css/animate.min.css">
    <script src="__WEBHOME__/js/jquery.min.js"></script>
    <script src="__WEBHOME__/js/wow.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <![endif]-->
    <script src="__WEBHOME__/js/main.js"></script>
    <script type="text/javascript">
        $(window).resize(function ()
        {

            var designSize = 1920;

            var html = document.documentElement;

            var wW = html.clientWidth;
            if(wW<1000){wW = 1000;}
            if(wW>1920){wW = 1920;}
            var rem = wW * 100 / designSize;

            document.documentElement.style.fontSize = rem + 'px';
            document.body.style.fontSize = '12px'
        });
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e8a03d99c7fed4f4a5c36d738ebe0c94";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
            <link rel="stylesheet" href="__WEBHOME__/css/swiper.min.css">
        <script src="__WEBHOME__/js/swiper.min.js"></script>

        <style>
                        .content-news .news-center .news-main{
                text-align: justify;
                word-spacing: -0.025rem;
            }
                    </style>

    </head>
<body>
    <script type="text/javascript">
        var designSize = 1920;

        var html = document.documentElement;

        var wW = html.clientWidth;
        if(wW<1000){wW = 1000;}
        if(wW>1920){wW = 1920;}
        var rem = wW * 100 / designSize;

        document.documentElement.style.fontSize = rem + 'px';
        document.body.style.fontSize = '12px'
    </script>
    <div class="contains">
                    <div class="nav-box">
    <a href="index.html" class="logo"></a>
    <ul class="nav-list">
        <li class=""><a href="work.html" style="width: 12px;" curwidth='12px'>W 案例中心</a></li>
        <li class=""><a href="about.html" style="width: 10px;" curwidth='10px'>A 关于我们</a></li>
        <li class="nav-active"><a href="news.html" style="width: 10px;" curwidth='10px'>N 新闻中心</a></li>
        <li class=""><a href="telephone.html" style="width:8px;" curwidth='8px'>T 联系我们</a></li>
    </ul>
                        <div class="language">
                            <a href="javascript:void(0)" lagua="cn">中国</a>
                            <img src="__WEBHOME__/picture/line1.png">
                            <a href="javascript:void(0)" lagua="en" class="check">CN</a>
                        </div>
    <input type="hidden" value="http://www.admin.ccd-hk.com" id="base_url">
</div>
<div class="hide_nav"></div>

    <div class="content content-news clearfix">
            <h2 class="news-title animated slideInLeft">新闻中心</h2>
            <img src="__WEBHOME__/picture/line5.png" class="news-line animated fadeInLeft delay-1s">
            <div class="news-left">
                <a class="active animated fadeInLeft delay-900ms">最新新闻</a>
                <a class="animated fadeInLeft delay-1s" href="newslist.html">媒体报道</a>
            </div>
            <div class="news-center" id="newscenter">
                <div class="news-section">
                    <div class="news-head">
                        <div class="swiper-container animated fadeIn" id="swiper0">
                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/3483eb5f-e8f2-4eff-87f0-29c1ca36dbdc.png" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/467842a5-722b-4d79-82cf-874c301f5ef7.png" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/c2b7e439-d36c-4a00-84a8-f5b5f00c0366.png" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/deb64fd4-ab11-4241-89b9-6b13058621f2.png" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/978023e8-ad29-4b7c-8950-1d3401a9c6d1.jpg" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                                <div class="swiper-slide"><img src="__WEBHOME__/picture/04c6dfd2-4d95-46dd-b381-69977bbc116a.jpg" alt="测试新闻数据第四条" title="测试新闻数据第四条"></div>
                                                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                        <div class="pagenum">
                            <p class="curnum" id="pagesNum">01</p>
                            <img src="__WEBHOME__/picture/line3.png">
                            <p id="newsLength">06</p>
                        </div>
                    </div>
                    <p id="newsDate" class="wow fadeInDown delay-500ms">2021-12-03 16:41:09</p>
                    <h3 class="news-dtitle wow fadeInDown delay-700ms" id="newsTitle">测试新闻数据第四条</h3>
                    <div class="news-main wow fadeInDown delay-900ms" id="newsMain">
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="news-right">
                <div class="news-ul" id="lastNewsList">
                    <a href="news.html" class="wow fadeInDown" data-wow-delay="0.1s" newid="269" title="测试新闻数据第一条">测试新闻数据第一条</a>
                    <a href="news1.html" class="wow fadeInDown" data-wow-delay="0.2s" newid="268" title="测试新闻数据第二条">测试新闻数据第二条</a>
                    <a href="news2.html" class="wow fadeInDown" data-wow-delay="0.30000000000000004s" newid="267" title="测试新闻数据第三条 ">测试新闻数据第三条 </a>
                    <a class="active" href="news3.html" class="wow fadeInDown" data-wow-delay="0.4s" newid="266" title="测试新闻数据第四条">测试新闻数据第四条</a>
                    <a href="news4.html" class="wow fadeInDown" data-wow-delay="0.5s" newid="265" title="测试新闻数据第五条">测试新闻数据第五条</a>
                    <a href="news5.html" class="wow fadeInDown" data-wow-delay="0.6000000000000001s" newid="264" title="测试新闻数据第六条">测试新闻数据第六条</a>
                    <a href="news6.html" class="wow fadeInDown" data-wow-delay="0.7000000000000001s" newid="258" title="测试新闻数据第七条">测试新闻数据第七条</a>
                    <a href="news7.html" class="wow fadeInDown" data-wow-delay="0.8s" newid="253" title="测试新闻数据第八条">测试新闻数据第八条</a>
                    <a href="news8.html" class="wow fadeInDown" data-wow-delay="0.9s" newid="237" title="测试新闻数据第九条">测试新闻数据第九条</a>
                    <a href="news9.html" class="wow fadeInDown" data-wow-delay="1s" newid="236" title="测试新闻数据第十条">测试新闻数据第十条</a>
                                    </div>
                <div class="tabs-box wow fadeInDown delay-1s">
                    <a href="javascript:;"><div class="tabs-btn tabs-up"></div></a>
                    <a href="news10.html"><div class="tabs-btn tabs-down"></div></a>
                </div>
            </div>
        </div>
        <footer>
    Copyright © 1998-2021 CCD. All Rights Reserved | POWERED BY ASIANTIME GROUP  <a style="color:#fff;" href="javascript:;" target="_blank" rel="nofollow me noopener noreferrer">粤ICP备20054390号</a>
</footer>        </div>
            <script>
            $(function () {
                puBlic.newsCutSwiper(0)
            })



        </script>
        <script>
        var wow = new WOW(
            {
                boxClass:     'wow',
                animateClass: 'animated',
                offset:       0,
                mobile:       true,
                live:true,
            }
            )
            wow.init();
    </script>
</body>
</html>
